<h3 style="text-align: center; color:brown">Rules will be updated soon</h3>
<div class="container" style="display: none;">
    <div class="well">
        <h1 class="display-1">Official Rules of NWA Fantasy - FIFA World Cup 2018</h1>
        <hr />
        <h2>About</h2>
        <p>This fantasy game application is for managing predictions and subsequent points for FIFA World Cup 2018.</p>
        <h2>Registration</h2>
        <p>Registration deadline for creating a player account is June 13th, 2018.</p>

        <h2>Prediction rules</h2>
        <ul>
            <li style="color: red;"><strong>Please make sure that you refresh the browser and can see your submission in the 'Prediction List' after predicting.</strong></li>
            <li>Match predictions will be available no later than 12 hours before the next match (or after completion of last match of the previous day, whichever is later).</li>
            <li><span style="background-color: #f5e79e">Draw predictions will not be available after Round of 16 matches start on 06/30.</span></li>
            <li>Match predictions will be scored in the following way on completion of the match:<br />
                <ul>
                    <li>Group Stage Matches (06/14/2018 - 06/28/2018) 
                        <ul>
                            <li>Win Predicted and team wins - 3 points</li>
                            <li>Draw Predicted and teams draw - 3 points</li>
                            <li>Loss - 0 points</li>
                        </ul>
                    </li>
                    <li>Round of 16 (06/30/2018 - 07/03/2018)
                        <ul>
                            <li>Win - 5 points</li>
                            <li>Loss - 0 points</li>
                        </ul>
                    </li>
                    <li>Quarter finals (07/06/2018 - 07/07/2018)
                        <ul>
                            <li>Win - 7 points</li>
                            <li>Loss - 0 points</li>
                        </ul>
                    </li>
                    <li>Semi finals (07/10/2018 - 07/11/2018)
                        <ul>
                            <li>Win - 9 points</li>
                            <li>Loss - 0 points</li>
                        </ul>
                    </li>
                    <li>Third Place play off (07/14/2018)
                            <ul>
                                <li>Win - 11 points</li>
                                <li>Loss - 0 points</li>
                            </ul>
                        </li>
                    <li>Final (07/15/2018)
                        <ul>
                            <li>Win - 15 points</li>
                            <li>Loss - 0 points</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Prediction from other players will be hidden starting with the Quarterfinal phase. Other player's predictions will be visible once prediction has been locked 15 minutes prior to the game.</li>
            <li>A draw match is considered a loss for a player unless said player has predicted a draw.</li>
            <li>A player will be awarded win points if player predicts a draw and match ends in a draw.</li>
            <li>There will be no DRAW option after the Round of 16 matches, starting on Jun 30th, 2018.</li>
            <li>Total points for the day will be awarded after the completion of the last match of the day.</li>
        </ul>
        <h2>Prediction Lockdown</h2>
        <ul>
            <li>Predictions for each match will be locked 15 minutes prior to the match.</li>
            <li style="color: red;"><strong>If a player misses a prediction, he/she will forfeit the points for that match.</strong></li>
        </ul>
        <h2>Entry fee</h2>
        <ul>
            <li>Entry fee is $25</li>
            <li>Entry fee can be transferred to <a href="mailto:pradhanparas@gmail.com">pradhanparas@gmail.com</a> if player has a Bank of America account. If not, please contact the admin and arrangements can be made.</li>
        </ul>
        <h2>Prize distribution</h2>
        <ul>
            <li>Final points will be decided after the finals match on Sunday, 7 July 2018.</li>
            <li>Prizes will be distributed in the following amounts:
                <ul>
                    <li>First prize: $[TBD]</li>
                    <li>Second prize: $[TBD]</li>
                    <li>Third prize: $[TBD]</li>
                </ul>
            </li>
            <li>If multiple players are contending for any of the above places, the following rules will apply:
                <ul>
                    <li>The players tied in a particular position will share that spot.&nbsp;</li>
                    <li>The position of the player with the next highest point will be pushed down by the number of players sharing that spot.</li>
                    <li>Let's consider two examples with A, B, C, D and E playing.</li>
                </ul>
            </li>
        </ul>
        <h4 style="padding-left: 60px;">Example 1</h4>
        <p style="padding-left: 60px;">A - 100 <br />B - 100 <br />C - 80 <br />D - 80 <br />E - 60</p>
        <p style="padding-left: 60px;">A and B are joint firsts. There will be no second place. C and D are joint thirds.<br />A and B will be entitled to the sum of first and second place prize money.<br />C and D will be entitled to the third place prize money.</p>
        <h4 style="padding-left: 60px;">Example 2</h4>
        <p style="padding-left: 60px;">A - 100 <br />B - 100 <br />C - 100 <br />D - 80 <br />E - 60</p>
        <p style="padding-left: 60px;">A, B and C are joint firsts. There will be no second or third places.<br />A, B and C will be entitled to the sum of first, second and third place prize money.</p>
        <ul>
            <li>In both the examples, how the winners decide to share the loot, is up to them. They can divide them equally or use any other method to solve this problem.</li>
            <!--<li>If multiple players are contending for any of the above places, the following rules will apply:
                <ul>-->
                    <!--<li>If multiple players are tied in the 1st position, a coin toss between the players will decide the winner and subsequent position of the other players.</li>-->
                    <!--<li>All remaining positions will be decided with a coin toss in a similar manner, after prioritizing players that were pushed out from previous higher level wins</li>-->
                    <!--<li>As an example, if A, B, C, D and E are playing, and in the final scores A and B are tied for 1st position, C and D are tied in 2nd position, and E is in 3rd position, the final prize distribution will be decided as follows:-->
                        <!--<ul>-->
                            <!--<li>A and B will split the total amount of </li>-->
                            <!--<li>Toss between C and D &gt;D wins  &gt; D gets 3rd prize</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
        </ul>
    </div>
</div>
